* {
	margin: 0px;
	padding: 0px;
	font-family: orkney;
}

.flex {
	display: flex;
	align-items: center;
}

.pointer {
	cursor: pointer;
}

.center {
	justify-content: center;
}

.spaceBetween {
	justify-content: space-between;
}

.header1 {
	position: fixed;
	top: 0;
	background: #3c8031;
	padding: 5px;
	width: 100%;
}

.image {
	width: 14px;
}

.fontSmall {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;

}

.phoneNo {
	margin: 0px 0px 0px 27px;

}

.separator {
	margin: 0 8px;
}

.separator {
	color: #ffffff;
}

.mail img {
	width: 17px;
	margin: 0px 4px 0px 0px;
}

.headerRight {
	margin-right: 43px;
}

.location {
	width: 13px;
	margin: 0px 0px 0px 31px;
}

.arrow {
	width: 18px;
}


.header2 {
	position: fixed;
	top: 31px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #eee;
	padding: 5px 0px 10px 0px;

}

.fresh {
	width: 81px;
	margin-left: 32px;
}

.search {
	margin: 16px 2px 2px 59px;
	border: solid 1px #cfcfcf;
	padding: 7px;
	border-radius: 8px;
}

#search {
	border: none;
	width: 400px;
	font-size: 13px;
	font-weight: 400;
}

.right {
	margin-right: 55px;
}

.acc {
	width: 50px;
	margin: 16px 3px 0px 2px;
}

.img {
	width: 26px;
}

.rowfont {
	font-size: 13px;
	line-height: 18px;
	color: #7755A2;
	padding: 8px 2px 2px 0px;
	font-weight: bold;
	margin: 2px 43px 5px 42px;
	font-family: sans-serif;
}

ul {
	list-style: none;
	justify-content: center;
}

.row {
	border-bottom: 1px solid #eee;
	margin-top: 118px;
}

.template {
	margin: 21px 0px 0px 0px;
}

.img2 {
	width: 40px;
}

.font2 {
	font-size: 12px;
	font-weight: 600;
	color: #666666;
}

.main {
	margin-top: 42px;
}

.mainLeft {
	margin-left: 47px;
}

.border {
	border-left: 1px solid #7755A2;
	padding: 0px 0px 3px 34px;
}

.img3 {
	width: 297px;
}