* {
	margin: 0px;
	padding: 0px;
	font-family: orkney, sans-serif;
}

.colorGreen {
	color: green;
}

.flex {
	display: flex;
}

.alignCenter {
	align-items: center;
}

.pointer {
	cursor: pointer;
}

.flexEnd {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.flexStart {
	justify: flex-start;
}

.spaceBetween {
	justify-content: space-between;
}

.spaceAround {
	justify-content: space-around;
}

/*margin*/
.m1 {
	margin: 10px 0px 10px 0px;
}

.m2 {
	margin: 20px 0px 20px 0px;
}

.marginTop {
	margin: 10px 0px 0px 0px;
}

.marginTop2 {
	margin: 20px 0px 0px 0px;
}

.marginRight20 {
	margin: 0px 20px 0px 0px;
}

.image {
	width: 14px;
}

/* font size small*/
.small {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	Line-height: 18px;
}

.xSmall {
	font-size: 11px;
	font-weight: 400;
	Line-height: 18px;
}

.rowfont {
	font-size: 13px;
	line-height: 18px;
	color: #7755A2;
	padding: 8px 2px 2px 0px;
	font-weight: bold;
	margin: 2px 43px 5px 42px;
	font-family: sans-serif;
}

.rowfont:hover {
	background-color: #7755a222;
}

.medium {
	Font-size: 13px;
	Line-height: 18px;
	Font-weight: 400;
	font-family: sans-serif;
}

.productMedium {
	Font-size: 13px;
	Font-weight: 600;
	Line-height: 20px;
	color: #333333;
	font-family: 'OrkneyRegular';
	padding: 9px 23px 10px 9px;
}

.mediumHigh {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

.productLarge {
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	color: #666666;
}

.large {
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	font-family: system-ui;
}

.larger {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}

.xLarge {
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
}

.litter {
	font-weight: 400;
}

.priceLarge {
	Font-weight: 400;
	line-height: 24px;
	color: #888888;
}

.smaller {
	font-size: 10.4px;
	font-weight: 400;
	line-height: 11.96px;
}

.dark {
	font-weight: bold;
}

/*color*/
.danger {
	color: #eb5757;
}

.colorDark {
	color: #333333;
}

.primary {
	color: #7755a2;
}

.phoneNo {
	margin: 0px 0px 0px 27px;

}

.separator {
	margin: 0 8px;
}

.separator {
	color: #ffffff;
}

.mail img {
	width: 17px;
	margin: 0px 4px 0px 0px;
}

.headerRight {
	margin-right: 43px;
}

.location {
	width: 13px;
	margin: 0px 0px 0px 31px;
}

.arrow {
	width: 18px;
}

.header1 {
	position: fixed;
	top: 0;
	background: #3c8031;
	padding: 5px;
	width: 100%;
	z-index: 1;
}

.header2 {
	position: fixed;
	top: 31px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #eee;
	padding: 5px 0px 10px 0px;
	z-index: 1;
}

.fresh {
	width: 81px;
	margin-left: 32px;
}

.search {
	margin: 16px 2px 2px 59px;
	border: solid 1px #cfcfcf;
	padding: 7px;
	border-radius: 8px;
}

.colorWhite {
	color: #ffffff;
}

#search {
	border: none;
	width: 400px;
	font-size: 13px;
	font-weight: 400;
}

.right {
	margin-right: 55px;
}

.imageMain {
	width: 94%;
}

.acc {
	width: 50px;
	margin: 16px 3px 0px 2px;
}

.img {
	width: 26px;
}

.ul {
	list-style: none;
	justify-content: center;
}

.row {
	border-bottom: 1px solid #eee;
	margin-top: 118px;
}

.template {
	margin: 21px 0px 0px 0px;
}

.img2 {
	width: 40px;
}

.font2 {
	font-size: 12px;
	font-weight: 600;
	color: #666666;
}

.main {
	margin: 42px 0px 42px 0px;
}


.mainLeft {
	margin-left: 47px;
}

.border {
	border-left: 1px solid #7755A2;
	padding: 0px 0px 3px 34px;
}

.timer {
	background: linear-gradient(90deg, #f4b64d 0, #f72973 99.77%);
	color: #ffffff;
	border-radius: 4px;
	padding: 1px 4px;
}

.img3 {
	width: 297px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #eeeeee;
}

.img4 {
	width: 195px;
}

.product {
	width: 22%;
	background: white;
	margin: 20px;
	cursor: pointer;
}

.pb {
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #eeeeee;
}

.productBorder {
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #eeeeee;
}

.productBorder:hover {
	background-color: #eeeeee;
}

.productIcon {
	position: relative;
}

.nonveg {
	position: absolute;
	bottom: 8px;
	left: 9px;
}

.productPage {
	margin-top: 24px;
	border: none;
	border-radius: 2px;
}

.color {
	color: #777777
}

.colorSmall {
	color: #555555;
}

.productSubtitle {
	padding: 5px 0px 10px 0px;
}

.productImage {
	border: none;
	margin: 10px 20px 0px 100px;
}

.goatImage {
	border-radius: 9px 9px 0px 0px;
}

.row1 {
	background-color: #f2f7f2;
}

.newPrice {
	color: #3C8031;
	font-family: 'OrkneyRegular';
}

.symbol {
	font-size: 30px;
	color: #666;
	border: 1px solid #aaa;
	width: 18px;
	font-weight: bold;
	text-align: center;
	font-family: orkneyRegular;
}

.number {
	width: 42px;
}

.card {

	margin-left: 20px;
	background: #398D2C;
	border: none;
	padding: 9px 20px;
	color: #fff;
	font-family: system-ui;

}

.fssai {
	width: 63px;
}

.footer {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-top: 75px;
}

.footerFreshToHome {
	width: 110px;
}

.socialIcone {
	width: 32px;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 9;
}

. .marginLeft {
	margin: 0px 0px 0px 80px;
}

.appStore {
	width: 125px;
}

.playStore {
	width: 150px;
}

.li {
	margin: 0px 10px;
}

.rightBorder {
	border-right: 1px solid #e5e5e5;
}

.followUs {
	margin: 50px 0px 0px 0px;
}

.footer2 {
	padding: 23px 70px 0px 70px;
	background-color: #f9f9f9;
}

.footerPadding {
	padding: 0px 31px;
}

.padding {
	padding: 12px;
}

/*login page*/
.textCenter {
	text-align: center;
}

.contact {
	font-family: sans-serif;
	padding: 20px 20px 40px 20px;
	margin: 0px 0px 0px 31px;
}

.certificate img {
	width: 929px;
	padding: 0px 6px 0px 25px;
}

.appBanner img {
	width: 296px;
}

.cart {
	margin: 57px 0px 0px 0px;
}

.productDetails {
	margin: 50px 20px 0px 35px;
	padding: 0px 0px 20px 20px;
}

.productImageSizing {
	width: 200px;
	margin: 0px 0px 0px 41px;
}

.quantity {
	padding: 4px;
	font-weight: bold;
	color: #666;
	border: 1px solid #aaa;
	text-align: center;
	font-family: orkneyRegular;
}

.quantityNumber {
	padding: 4px 18px;
}

.price {
	margin: 0px 0px 0px 11px;
}

.name {
	margin: 0px 0px 0px 20px;
}

.cartProduct {
	margin: 24px 8px 1px 37px;
	border-bottom: 1px solid #eeeeee;
	padding: 0px 0px 20px 0px;
}

.remove {
	width: 20px;
}

.cartUpdate {
	background-color: gray;
	color: white;
	padding: 5px;
	margin-right: 14px;
}

button {
	padding: 10px 20px;
	background-color: #3c8031;
	border: none;
	color: #ffffff;
	margin: 0px 0px 0px 20px
}

.button {
	padding: 10px 20px;
	background-color: #3c8031;
	border: none;
	color: #ffffff;
	margin: 0px 0px 0px 20px
}

.redeem {
	border: 1px solid #999999;
	outline: none;
	padding: 4px;
}

.apply {
	margin-left: 30px;
}

.borderTop {
	border-top: 1px solid #a0a0a0;
}

.shipping {
	width: 71%;
}

.dashedViolet {
	border-bottom: 1px dashed #7755A2;
}

.form {
	width: 314px;
	padding: 10px;
}

.form:focus {
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.textArea {
	width: 670px;
}

a {
	text-decoration: none;
}

/*hover areas*/
.pb:hover .colorChange {
	color: #7755A2;
}

.pb:hover button {
	background-color: #7755A2;
}

.closeX {
	position: fixed;
	top: 56px;
	right: 95px;
}

.popup {
	color: #ffffff;
	background-color: #3c8031;
	padding: 5px;
}

.block {
	position: fixed;
	right: 73px;
	top: 51px;
	background: #ffffff;
	z-index: 2;
	width: 400px;
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
	display: none;
}

.shopCart:hover .block {
	display: block;
}